# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import pandas as pd
import numpy as np
from sqlalchemy import create_engine  
import sqlite3

In [2]:
# load messages dataset
messages = pd.read_csv('messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [3]:
messages.shape

(26248, 4)

In [4]:
duplicates=messages.duplicated(subset=['id'], keep=False)
if duplicates.any():
    print("Hay valores duplicados en el campo id")
    print(messages[duplicates])
else: 
    print("No hay valores duplicados")

Hay valores duplicados en el campo id
          id                                            message  \
162      202  ?? port au prince ?? and food. they need gover...
163      202  ?? port au prince ?? and food. they need gover...
655      804  elle est vraiment malade et a besoin d'aide. u...
656      804  elle est vraiment malade et a besoin d'aide. u...
709      862  What is the address of the radio station? I as...
710      862  What is the address of the radio station? I as...
1407    1652  please we need water, food and tents, we have ...
1408    1652  please we need water, food and tents, we have ...
2130    2446  How much money did TV Latino American collect ...
2131    2446  How much money did TV Latino American collect ...
2792    3217  Sir or madam, I'm hungry, I cannot stand becau...
2793    3217  Sir or madam, I'm hungry, I cannot stand becau...
2824    3250  I thought you gave my number and this was seri...
2825    3250  I thought you gave my number and this was seri...
3373    3882  I am in Carefour Feuilles, Dkayet neighborhood...
3374    3882  I am in Carefour Feuilles, Dkayet neighborhood...
3851    4412  Good evening staff of responsibles, please giv...
3852    4412  Good evening staff of responsibles, please giv...
4340    4956  What we saw yesterday is a sign, you need to k...
4341    4956  What we saw yesterday is a sign, you need to k...
4521    5153  there are people in Delmas 32 who form an asso...
4522    5153  there are people in Delmas 32 who form an asso...
4629    5265  (Delmas 33 Charboniere infomatyon s'il vous pl...
4630    5265  (Delmas 33 Charboniere infomatyon s'il vous pl...
4892    5573  If I would like to find a job in cepoz, what s...
4893    5573  If I would like to find a job in cepoz, what s...
4950    5643  Good evening. we are writing to ask you for a ...
4951    5643  Good evening. we are writing to ask you for a ...
5071    5776  I would like some more informations about trav...
5072    5776  I would like some more informations about trav...
...      ...                                                ...
18248  21338  The Management Committee is composed of six me...
18901  22059  Additionally, ointment to treat skin infection...
18902  22059  Additionally, ointment to treat skin infection...
19624  22858  Any person who enters or exits at other points...
19625  22858  Any person who enters or exits at other points...
19753  23002  After the 2011 elections, widespread rioting l...
19754  23002  After the 2011 elections, widespread rioting l...
19958  23229  * German Agro Action (GAA) reported that in th...
19959  23229  * German Agro Action (GAA) reported that in th...
20875  24247  As we approach Luabo, I get my first impressio...
20876  24247  As we approach Luabo, I get my first impressio...
20965  24347  In response to North Korea's devastating artil...
20966  24347  In response to North Korea's devastating artil...
21358  24779  Shelter materials (thick polyesters) are being...
21359  24779  Shelter materials (thick polyesters) are being...
21360  24779  Shelter materials (thick polyesters) are being...
22027  25512  The flood situation has worsened with nearly 3...
22028  25512  The flood situation has worsened with nearly 3...
23609  27296  The regime says the charter will clear the way...
23610  27296  The regime says the charter will clear the way...
24039  27768  An EU-backed French offensive against rebels r...
24040  27768  An EU-backed French offensive against rebels r...
24647  28462  To date, a total of 39 people suffering from E...
24648  28462  To date, a total of 39 people suffering from E...
24855  28687  At present, UNHCR has 2,500 additional tents a...
24856  28687  At present, UNHCR has 2,500 additional tents a...
25155  29022  In a field in Jallouzai, just inside Pakistan,...
25156  29022  In a field in Jallouzai, just inside Pakistan,...
25241  29119  Most victims (90 per cent) show little or no s...
25242  29119  Most victims (90 per cent) show little or no s...

                                                original   genre
162    p bay pap la syen ak manje. Yo bezwen ed gouve...  direct
163    p bay pap la syen ak manje. Yo bezwen ed gouve...  direct
655    she is really sick she need your help. please ...  direct
656    she is really sick she need your help. please ...  direct
709    Ki adres radyo a? Paske m bezwen al depoze dos...  direct
710    Ki adres radyo a? Paske m bezwen al depoze dos...  direct
1407   p jwen dlo, manje, tant pou nou demi nou gen 1...  direct
1408   p jwen dlo, manje, tant pou nou demi nou gen 1...  direct
2130         Konbyen kob tv latino america ranmase miami  direct
2131         Konbyen kob tv latino america ranmase miami  direct
2792   Mesye ou madam mwen grangou mwen pa menm kakan...  direct
2793   Mesye ou madam mwen grangou mwen pa menm kakan...  direct
2824   Mwen tepanse le nou tebay nimewo a se yon afse...  direct
2825   Mwen tepanse le nou tebay nimewo a se yon afse...  direct
3373   Mwen nan kafou fy zon dekayt nou beswen dlo po...  direct
3374   Mwen nan kafou fy zon dekayt nou beswen dlo po...  direct
3851   Bonswa staf responsab svp banm yon ti d paske ...  direct
3852   Bonswa staf responsab svp banm yon ti d paske ...  direct
4340   a nou w la yo se sign yoy ou bezwen kon sa Jez...  direct
4341   a nou w la yo se sign yoy ou bezwen kon sa Jez...  direct
4521   Ginyin yon paket moun delmas 32 ki forme organ...  direct
4522   Ginyin yon paket moun delmas 32 ki forme organ...  direct
4629        Delmas 33, charbonniere, information please.  direct
4630        Delmas 33, charbonniere, information please.  direct
4892   Si mwen ta renmen jwen travay nan cepoz ki sa ...  direct
4893   Si mwen ta renmen jwen travay nan cepoz ki sa ...  direct
4950   Bonswa nou ekri'w se pou nou mande'w yon ti d ...  direct
4951   Bonswa nou ekri'w se pou nou mande'w yon ti d ...  direct
5071   Mwen bezwen yon ti eksplikasyon konsne vwayaj ...  direct
5072   Mwen bezwen yon ti eksplikasyon konsne vwayaj ...  direct
...                                                  ...     ...
18248                                                NaN    news
18901                                                NaN    news
18902                                                NaN    news
19624                                                NaN    news
19625                                                NaN    news
19753                                                NaN    news
19754                                                NaN    news
19958                                                NaN    news
19959                                                NaN    news
20875                                                NaN    news
20876                                                NaN    news
20965                                                NaN    news
20966                                                NaN    news
21358                                                NaN    news
21359                                                NaN    news
21360                                                NaN    news
22027                                                NaN    news
22028                                                NaN    news
23609                                                NaN    news
23610                                                NaN    news
24039                                                NaN    news
24040                                                NaN    news
24647                                                NaN    news
24648                                                NaN    news
24855                                                NaN    news
24856                                                NaN    news
25155                                                NaN    news
25156                                                NaN    news
25241                                                NaN    news
25242                                                NaN    news

[135 rows x 4 columns]

In [5]:
# load categories dataset
categories = pd.read_csv('categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [6]:
messages.nunique()

id          26180
message     26177
original     9630
genre           3
dtype: int64

In [7]:
duplicates2=categories.duplicated(subset=['id'], keep=False)
if duplicates.any():
    print("Hay valores duplicados en el campo id")
    print(categories[duplicates])
else: 
    print("No hay valores duplicados")

Hay valores duplicados en el campo id
          id                                         categories
162      202  related-1;request-1;offer-0;aid_related-1;medi...
163      202  related-1;request-1;offer-0;aid_related-1;medi...
655      804  related-2;request-0;offer-0;aid_related-0;medi...
656      804  related-2;request-0;offer-0;aid_related-0;medi...
709      862  related-0;request-0;offer-0;aid_related-0;medi...
710      862  related-1;request-0;offer-0;aid_related-0;medi...
1407    1652  related-1;request-1;offer-0;aid_related-1;medi...
1408    1652  related-1;request-1;offer-0;aid_related-1;medi...
2130    2446  related-1;request-0;offer-0;aid_related-0;medi...
2131    2446  related-1;request-0;offer-0;aid_related-0;medi...
2792    3217  related-1;request-1;offer-0;aid_related-1;medi...
2793    3217  related-1;request-1;offer-0;aid_related-1;medi...
2824    3250  related-1;request-0;offer-0;aid_related-0;medi...
2825    3250  related-1;request-1;offer-0;aid_related-0;medi...
3373    3882  related-1;request-1;offer-0;aid_related-1;medi...
3374    3882  related-1;request-1;offer-0;aid_related-1;medi...
3851    4412  related-1;request-1;offer-0;aid_related-1;medi...
3852    4412  related-1;request-1;offer-0;aid_related-1;medi...
4340    4956  related-1;request-0;offer-0;aid_related-0;medi...
4341    4956  related-0;request-0;offer-0;aid_related-0;medi...
4521    5153  related-1;request-0;offer-0;aid_related-1;medi...
4522    5153  related-1;request-0;offer-0;aid_related-1;medi...
4629    5265  related-2;request-0;offer-0;aid_related-0;medi...
4630    5265  related-2;request-0;offer-0;aid_related-0;medi...
4892    5573  related-0;request-0;offer-0;aid_related-0;medi...
4893    5573  related-0;request-0;offer-0;aid_related-0;medi...
4950    5643  related-1;request-1;offer-0;aid_related-1;medi...
4951    5643  related-1;request-1;offer-0;aid_related-1;medi...
5071    5776  related-0;request-0;offer-0;aid_related-0;medi...
5072    5776  related-1;request-0;offer-0;aid_related-0;medi...
...      ...                                                ...
18248  21338  related-0;request-0;offer-0;aid_related-0;medi...
18901  22059  related-1;request-1;offer-0;aid_related-1;medi...
18902  22059  related-1;request-1;offer-0;aid_related-1;medi...
19624  22858  related-0;request-0;offer-0;aid_related-0;medi...
19625  22858  related-1;request-0;offer-0;aid_related-0;medi...
19753  23002  related-1;request-0;offer-0;aid_related-1;medi...
19754  23002  related-1;request-0;offer-0;aid_related-1;medi...
19958  23229  related-1;request-0;offer-0;aid_related-1;medi...
19959  23229  related-1;request-0;offer-0;aid_related-1;medi...
20875  24247  related-1;request-0;offer-0;aid_related-0;medi...
20876  24247  related-1;request-0;offer-0;aid_related-1;medi...
20965  24347  related-1;request-0;offer-0;aid_related-1;medi...
20966  24347  related-1;request-0;offer-0;aid_related-1;medi...
21358  24779  related-1;request-0;offer-0;aid_related-1;medi...
21359  24779  related-1;request-0;offer-0;aid_related-1;medi...
21360  24779  related-1;request-0;offer-0;aid_related-1;medi...
22027  25512  related-1;request-0;offer-0;aid_related-1;medi...
22028  25512  related-1;request-0;offer-0;aid_related-1;medi...
23609  27296  related-1;request-0;offer-0;aid_related-0;medi...
23610  27296  related-1;request-0;offer-0;aid_related-0;medi...
24039  27768  related-1;request-0;offer-0;aid_related-1;medi...
24040  27768  related-1;request-0;offer-0;aid_related-0;medi...
24647  28462  related-1;request-1;offer-0;aid_related-1;medi...
24648  28462  related-1;request-0;offer-0;aid_related-1;medi...
24855  28687  related-1;request-0;offer-0;aid_related-1;medi...
24856  28687  related-1;request-0;offer-0;aid_related-1;medi...
25155  29022  related-1;request-1;offer-0;aid_related-1;medi...
25156  29022  related-1;request-0;offer-0;aid_related-1;medi...
25241  29119  related-1;request-0;offer-0;aid_related-1;medi...
25242  29119  related-1;request-0;offer-0;aid_related-1;medi...

[135 rows x 2 columns]

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [8]:
# merge datasets
df = pd.merge(messages, categories, on=['id', 'id'])
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [9]:
# create a dataframe of the 36 individual category columns
categories = df['categories'].str.split(pat=';', expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [10]:
# select the first row of the categories dataframe
row = categories.iloc[0]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.apply(lambda x: x.rstrip('-0 1'))
print(category_colnames)

0                    related
1                    request
2                      offer
3                aid_related
4               medical_help
5           medical_products
6          search_and_rescue
7                   security
8                   military
9                child_alone
10                     water
11                      food
12                   shelter
13                  clothing
14                     money
15            missing_people
16                  refugees
17                     death
18                 other_aid
19    infrastructure_related
20                 transport
21                 buildings
22               electricity
23                     tools
24                 hospitals
25                     shops
26               aid_centers
27      other_infrastructure
28           weather_related
29                    floods
30                     storm
31                      fire
32                earthquake
33                      cold
34             other_weather
35             direct_report
Name: 0, dtype: object

In [11]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [12]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].str [-1]
    
    # convert column from string to numeric
    categories[column] = pd.to_numeric (categories[column], errors = 'coerce') 
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [13]:
# drop the original categories column from `df`
df.drop (['categories'], axis = 1, inplace = True)

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [14]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat ([df, categories], axis = 1, sort = False)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [15]:
# check number of duplicates
ids = df ['message']
display (df [ids.isin (ids [ids.duplicated ()])].sort_values (by = ['id']).head)

<bound method NDFrame.head of           id                                            message  \
162      202  ?? port au prince ?? and food. they need gover...
163      202  ?? port au prince ?? and food. they need gover...
164      202  ?? port au prince ?? and food. they need gover...
165      202  ?? port au prince ?? and food. they need gover...
657      804  elle est vraiment malade et a besoin d'aide. u...
658      804  elle est vraiment malade et a besoin d'aide. u...
659      804  elle est vraiment malade et a besoin d'aide. u...
660      804  elle est vraiment malade et a besoin d'aide. u...
716      862  What is the address of the radio station? I as...
715      862  What is the address of the radio station? I as...
713      862  What is the address of the radio station? I as...
714      862  What is the address of the radio station? I as...
1413    1652  please we need water, food and tents, we have ...
1414    1652  please we need water, food and tents, we have ...
1415    1652  please we need water, food and tents, we have ...
1416    1652  please we need water, food and tents, we have ...
2141    2446  How much money did TV Latino American collect ...
2140    2446  How much money did TV Latino American collect ...
2138    2446  How much money did TV Latino American collect ...
2139    2446  How much money did TV Latino American collect ...
2802    3217  Sir or madam, I'm hungry, I cannot stand becau...
2803    3217  Sir or madam, I'm hungry, I cannot stand becau...
2804    3217  Sir or madam, I'm hungry, I cannot stand becau...
2805    3217  Sir or madam, I'm hungry, I cannot stand becau...
2836    3250  I thought you gave my number and this was seri...
2837    3250  I thought you gave my number and this was seri...
2838    3250  I thought you gave my number and this was seri...
2839    3250  I thought you gave my number and this was seri...
3390    3882  I am in Carefour Feuilles, Dkayet neighborhood...
3387    3882  I am in Carefour Feuilles, Dkayet neighborhood...
...      ...                                                ...
22151  25512  The flood situation has worsened with nearly 3...
22152  25512  The flood situation has worsened with nearly 3...
22153  25512  The flood situation has worsened with nearly 3...
22154  25512  The flood situation has worsened with nearly 3...
22653  26062                                             #NAME?
22863  26309                                             #NAME?
23737  27296  The regime says the charter will clear the way...
23738  27296  The regime says the charter will clear the way...
23735  27296  The regime says the charter will clear the way...
23736  27296  The regime says the charter will clear the way...
24167  27768  An EU-backed French offensive against rebels r...
24168  27768  An EU-backed French offensive against rebels r...
24169  27768  An EU-backed French offensive against rebels r...
24170  27768  An EU-backed French offensive against rebels r...
24777  28462  To date, a total of 39 people suffering from E...
24778  28462  To date, a total of 39 people suffering from E...
24779  28462  To date, a total of 39 people suffering from E...
24780  28462  To date, a total of 39 people suffering from E...
24990  28687  At present, UNHCR has 2,500 additional tents a...
24987  28687  At present, UNHCR has 2,500 additional tents a...
24988  28687  At present, UNHCR has 2,500 additional tents a...
24989  28687  At present, UNHCR has 2,500 additional tents a...
25291  29022  In a field in Jallouzai, just inside Pakistan,...
25292  29022  In a field in Jallouzai, just inside Pakistan,...
25289  29022  In a field in Jallouzai, just inside Pakistan,...
25290  29022  In a field in Jallouzai, just inside Pakistan,...
25378  29119  Most victims (90 per cent) show little or no s...
25379  29119  Most victims (90 per cent) show little or no s...
25377  29119  Most victims (90 per cent) show little or no s...
25380  29119  Most victims (90 per cent) show little or no s...

                                                original   genre  related  \
162    p bay pap la syen ak manje. Yo bezwen ed gouve...  direct        1
163    p bay pap la syen ak manje. Yo bezwen ed gouve...  direct        1
164    p bay pap la syen ak manje. Yo bezwen ed gouve...  direct        1
165    p bay pap la syen ak manje. Yo bezwen ed gouve...  direct        1
657    she is really sick she need your help. please ...  direct        2
658    she is really sick she need your help. please ...  direct        2
659    she is really sick she need your help. please ...  direct        2
660    she is really sick she need your help. please ...  direct        2
716    Ki adres radyo a? Paske m bezwen al depoze dos...  direct        1
715    Ki adres radyo a? Paske m bezwen al depoze dos...  direct        0
713    Ki adres radyo a? Paske m bezwen al depoze dos...  direct        0
714    Ki adres radyo a? Paske m bezwen al depoze dos...  direct        1
1413   p jwen dlo, manje, tant pou nou demi nou gen 1...  direct        1
1414   p jwen dlo, manje, tant pou nou demi nou gen 1...  direct        1
1415   p jwen dlo, manje, tant pou nou demi nou gen 1...  direct        1
1416   p jwen dlo, manje, tant pou nou demi nou gen 1...  direct        1
2141         Konbyen kob tv latino america ranmase miami  direct        1
2140         Konbyen kob tv latino america ranmase miami  direct        1
2138         Konbyen kob tv latino america ranmase miami  direct        1
2139         Konbyen kob tv latino america ranmase miami  direct        1
2802   Mesye ou madam mwen grangou mwen pa menm kakan...  direct        1
2803   Mesye ou madam mwen grangou mwen pa menm kakan...  direct        1
2804   Mesye ou madam mwen grangou mwen pa menm kakan...  direct        1
2805   Mesye ou madam mwen grangou mwen pa menm kakan...  direct        1
2836   Mwen tepanse le nou tebay nimewo a se yon afse...  direct        1
2837   Mwen tepanse le nou tebay nimewo a se yon afse...  direct        1
2838   Mwen tepanse le nou tebay nimewo a se yon afse...  direct        1
2839   Mwen tepanse le nou tebay nimewo a se yon afse...  direct        1
3390   Mwen nan kafou fy zon dekayt nou beswen dlo po...  direct        1
3387   Mwen nan kafou fy zon dekayt nou beswen dlo po...  direct        1
...                                                  ...     ...      ...
22151                                                NaN    news        1
22152                                                NaN    news        1
22153                                                NaN    news        1
22154                                                NaN    news        1
22653                                                NaN    news        0
22863                                                NaN    news        1
23737                                                NaN    news        1
23738                                                NaN    news        1
23735                                                NaN    news        1
23736                                                NaN    news        1
24167                                                NaN    news        1
24168                                                NaN    news        1
24169                                                NaN    news        1
24170                                                NaN    news        1
24777                                                NaN    news        1
24778                                                NaN    news        1
24779                                                NaN    news        1
24780                                                NaN    news        1
24990                                                NaN    news        1
24987                                                NaN    news        1
24988                                                NaN    news        1
24989                                                NaN    news        1
25291                                                NaN    news        1
25292                                                NaN    news        1
25289                                                NaN    news        1
25290                                                NaN    news        1
25378                                                NaN    news        1
25379                                                NaN    news        1
25377                                                NaN    news        1
25380                                                NaN    news        1

       request  offer  aid_related  medical_help  medical_products  \
162          1      0            1             0                 0
163          1      0            1             0                 0
164          1      0            1             0                 0
165          1      0            1             0                 0
657          0      0            0             0                 0
658          0      0            0             0                 0
659          0      0            0             0                 0
660          0      0            0             0                 0
716          0      0            0             0                 0
715          0      0            0             0                 0
713          0      0            0             0                 0
714          0      0            0             0                 0
1413         1      0            1             0                 0
1414         1      0            1             0                 0
1415         1      0            1             0                 0
1416         1      0            1             0                 0
2141         0      0            0             0                 0
2140         0      0            0             0                 0
2138         0      0            0             0                 0
2139         0      0            0             0                 0
2802         1      0            1             0                 0
2803         1      0            1             0                 0
2804         1      0            1             0                 0
2805         1      0            1             0                 0
2836         0      0            0             0                 0
2837         1      0            0             0                 0
2838         0      0            0             0                 0
2839         1      0            0             0                 0
3390         1      0            1             1                 0
3387         1      0            1             0                 0
...        ...    ...          ...           ...               ...
22151        0      0            1             0                 0
22152        0      0            1             0                 0
22153        0      0            1             0                 0
22154        0      0            1             0                 0
22653        0      0            0             0                 0
22863        0      1            1             1                 1
23737        0      0            0             0                 0
23738        0      0            0             0                 0
23735        0      0            0             0                 0
23736        0      0            0             0                 0
24167        0      0            1             0                 0
24168        0      0            0             0                 0
24169        0      0            1             0                 0
24170        0      0            0             0                 0
24777        1      0            1             1                 0
24778        0      0            1             1                 0
24779        1      0            1             1                 0
24780        0      0            1             1                 0
24990        0      0            1             0                 0
24987        0      0            1             0                 0
24988        0      0            1             0                 0
24989        0      0            1             0                 0
25291        1      0            1             0                 1
25292        0      0            1             0                 1
25289        1      0            1             0                 1
25290        0      0            1             0                 1
25378        0      0            1             1                 0
25379        0      0            1             1                 0
25377        0      0            1             1                 0
25380        0      0            1             1                 0

           ...        aid_centers  other_infrastructure  weather_related  \
162        ...                  0                     0                0
163        ...                  0                     0                0
164        ...                  0                     0                0
165        ...                  0                     0                0
657        ...                  0                     0                0
658        ...                  0                     0                0
659        ...                  0                     0                0
660        ...                  0                     0                0
716        ...                  0                     0                0
715        ...                  0                     0                0
713        ...                  0                     0                0
714        ...                  0                     0                0
1413       ...                  0                     0                0
1414       ...                  0                     0                0
1415       ...                  0                     0                0
1416       ...                  0                     0                0
2141       ...                  0                     0                0
2140       ...                  0                     0                0
2138       ...                  0                     0                0
2139       ...                  0                     0                0
2802       ...                  0                     0                0
2803       ...                  0                     0                0
2804       ...                  0                     0                0
2805       ...                  0                     0                0
2836       ...                  0                     0                0
2837       ...                  0                     0                0
2838       ...                  0                     0                0
2839       ...                  0                     0                0
3390       ...                  0                     0                0
3387       ...                  0                     0                0
...        ...                ...                   ...              ...
22151      ...                  0                     1                1
22152      ...                  0                     0                1
22153      ...                  0                     1                1
22154      ...                  0                     0                1
22653      ...                  0                     0                0
22863      ...                  0                     0                0
23737      ...                  0                     0                0
23738      ...                  0                     0                0
23735      ...                  0                     0                0
23736      ...                  0                     0                0
24167      ...                  0                     0                0
24168      ...                  0                     0                0
24169      ...                  0                     0                0
24170      ...                  0                     0                0
24777      ...                  0                     0                0
24778      ...                  0                     0                0
24779      ...                  0                     0                0
24780      ...                  0                     0                0
24990      ...                  0                     0                0
24987      ...                  0                     0                0
24988      ...                  0                     0                0
24989      ...                  0                     0                0
25291      ...                  0                     0                0
25292      ...                  0                     0                0
25289      ...                  0                     0                0
25290      ...                  0                     0                0
25378      ...                  0                     0                0
25379      ...                  0                     0                0
25377      ...                  0                     0                0
25380      ...                  0                     0                0

       floods  storm  fire  earthquake  cold  other_weather  direct_report
162         0      0     0           0     0              0              0
163         0      0     0           0     0              0              0
164         0      0     0           0     0              0              0
165         0      0     0           0     0              0              0
657         0      0     0           0     0              0              0
658         0      0     0           0     0              0              0
659         0      0     0           0     0              0              0
660         0      0     0           0     0              0              0
716         0      0     0           0     0              0              0
715         0      0     0           0     0              0              0
713         0      0     0           0     0              0              0
714         0      0     0           0     0              0              0
1413        0      0     0           0     0              0              1
1414        0      0     0           0     0              0              1
1415        0      0     0           0     0              0              1
1416        0      0     0           0     0              0              1
2141        0      0     0           0     0              0              0
2140        0      0     0           0     0              0              0
2138        0      0     0           0     0              0              0
2139        0      0     0           0     0              0              0
2802        0      0     0           0     0              0              1
2803        0      0     0           0     0              0              1
2804        0      0     0           0     0              0              1
2805        0      0     0           0     0              0              1
2836        0      0     0           0     0              0              0
2837        0      0     0           0     0              0              1
2838        0      0     0           0     0              0              0
2839        0      0     0           0     0              0              1
3390        0      0     0           0     0              0              1
3387        0      0     0           0     0              0              1
...       ...    ...   ...         ...   ...            ...            ...
22151       1      0     0           0     0              0              0
22152       1      0     0           0     0              0              0
22153       1      0     0           0     0              0              0
22154       1      0     0           0     0              0              0

In [16]:
# drop duplicates
dfclean = df.drop_duplicates (subset = ['message'])
dfclean.shape

(26177, 40)

In [17]:
# check number of duplicates
display(dfclean.nunique ())
dfclean.shape

id                        26177
message                   26177
original                   9630
genre                         3
related                       3
request                       2
offer                         2
aid_related                   2
medical_help                  2
medical_products              2
search_and_rescue             2
security                      2
military                      2
child_alone                   1
water                         2
food                          2
shelter                       2
clothing                      2
money                         2
missing_people                2
refugees                      2
death                         2
other_aid                     2
infrastructure_related        2
transport                     2
buildings                     2
electricity                   2
tools                         2
hospitals                     2
shops                         2
aid_centers                   2
other_infrastructure          2
weather_related               2
floods                        2
storm                         2
fire                          2
earthquake                    2
cold                          2
other_weather                 2
direct_report                 2
dtype: int64

(26177, 40)

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [19]:
engine = create_engine('sqlite:///DisasterResponse.db')
dfclean.to_sql('Messages_Categories', engine, index=False)

ValueError: Table 'Messages_Categories' already exists.

### 8. Use this notebook to complete `process_data.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `process_data.py` in the classroom on the `Project Workspace IDE` coming later.